<div class="container">
  <div class="reglist">
    <div class="text-right">
      <form (ngSubmit)="onSave()">
      <input type="text" placeholder="name" [(ngModel)]="newName.name" name="name">
      <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Name of nameList; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ Name.name }}</td>
          <!-- <td>
            <button type="button" class="btn btn-info" (click)="onEdit(i)">Edit</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="onDelete(i)">Delete</button>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
